:root{
	--color-front: #c8caf4;
	--color-back: #20213f;
	--color-backlight: #2A2C50;
	--color-backdark: #191A32;
	--color-mono: #8498ef;
	--color-vivid: #2cda9d;
	--color-alert: #f168a0;
	--color-gray: #A2A6B7;
}
