:root{
	--color-front: #d6ddcb;
	--color-back: #063a2a;
	--color-backlight: #0B4731;
	--color-backdark: #042E21;
	--color-mono: #3fbd75;
	--color-vivid: #d8b801;
	--color-alert: #ee8060;
	--color-gray: #94AD9F;
}
