:root{
	--color-front: #bbdbf3;
	--color-back: #110a5d;
	--color-backlight: #121E6A;
	--color-backdark: #0D084A;
	--color-mono: #23d2e8;
	--color-vivid: #d7f75b;
	--color-alert: #e185dc;
	--color-gray: #8FB2B6;
}
