:root{
	--color-front: #dcd8f1;
	--color-back: #2b1752;
	--color-backlight: #3f2a6f;
	--color-backdark: #130a37;
	--color-mono: #c35dff;
	--color-vivid: #f2c76f;
	--color-alert: #e5686e;
	--color-gray: #8c849e;
}
