body {
  overflow-y: hidden;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
} 
header {
  color-scheme: dark;
}
main {
  color-scheme: dark;
}
footer {
  color-scheme: dark;
}

.calc_input{
	font-family: "AshkinsonRegular_000";
	text-align: center;
}

.calc_input::placeholder{
	color: #ffffff77;
}

.calc_button{
	font-family: "AshkinsonRegular_000";
	text-align: center;
	border: none;
}


.cursed_input{
	font-family: "AshkinsonRegular_000";
	text-align: center;
}

.cursed_input::placeholder{
	color: #ffffff77;
}

.cursed_button{
	font-family: "AshkinsonRegular_000";
	text-align: center;
	border: none;
}

.hexponent_input{
	font-family: "AshkinsonRegular_000";
	text-align: center;
}

.hexponent_input::placeholder{
	color: #ffffff77;
}


.hexponent_button{
	font-family: "AshkinsonRegular_000";
	text-align: center;
	border: none;
}


.index_button{
	text-align: center;
	border: none;
}
