body {
  overflow-y: hidden;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
} 
header {
  color-scheme: dark;
}
main {
  color-scheme: dark;
}
footer {
  color-scheme: dark;
}

.calc_input{
	font-family: "Atkinson-Hyperlegible-Regular-102";
	text-align: center;
}

.calc_input::placeholder{
	color: #ffffff77;
}

.calc_button{
	font-family: "Atkinson-Hyperlegible-Bold-102";
	text-align: center;
	border: none;
}