body {
  overflow-y: hidden;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
} 
header {
  color-scheme: dark;
}
main {
  color-scheme: dark;
}
footer {
  color-scheme: dark;
}

.calc_input{
	font-family: "Atkinson-Hyperlegible-Bold-102";
  background-color: #063a2a;
	color: #d6ddcc;
	text-align: center;
	border-color: #d6ddcc;
}

.calc_input::placeholder{
	color: #478f67;
}

.calc_button{
	font-family: "Atkinson-Hyperlegible-Bold-102";
  background-color: #d6ddcc;
	color: #063a2a;
	text-align: center;
	border: none;
}